@font-face {
  font-family: MyFont;
  src: url("font/Graphik-Regular.otf") format('truetype');
}

html {
  height: 100vh;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color, #ffffff); 
  margin: 0; 
}


/*style definition*/
:root {
  --primary-color: #000000;
  --hover-color: rgb(113, 113, 113);
  --accent-color: #0d19ff;
  --text-color: #000000;
  --background-color: #ffffff;
  --line-color: rgb(0, 0, 0);
  --padding: 24px;
}

/************* Layout Container (MAIN) *************/

main {
  display: flex;
  min-height: 100vh; 
  max-width: 100%;
}

/************* Left Container *************/

.left-side {
  display: flex;
  min-width: 220px;
  width: 30%;
  flex-shrink: 0;
  flex-direction: column;
  border-right: solid 2px var(--primary-color);
  font-weight: 900;
  color: var(--primary-color); 
  padding: 0 var(--padding) 0 var(--padding);
}




.button-list {
  display: flex;
  flex-direction: column;
}

.home-button {
  font-family: 'MyFont';
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 2px;
  border-bottom: 1px dashed var(--line-color);
  transition: color 0.1s;
}
.time {
  font-family: 'MyFont';
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 2px;
  font-style: italic;
  margin: 0;
  margin-top: var(--padding);
  border-bottom: 2px solid var(--line-color);}

.home-button#last {
  border-bottom: none; 
}

.home-button#bottom {
  margin-top: var(--padding);
  border-bottom: none; 
}
#current {
border-bottom: none;}

#past {
  margin-top: var(--padding);
}
.home-button:hover {
  color: var(--hover-color);
}



/************* Right Container *************/

.right-side {
  flex-grow: 1; 
  overflow-y: auto; 
  padding: 0px var(--padding) 0px var(--padding);
}

/* Typography Styles */
.body-text {
  font-family: 'MyFont';
  font-size: 18px;
  letter-spacing: -0.25px;
}

.project-title {
  font-family: 'MyFont';
  font-size: 28px;
  letter-spacing: -0.25px;
    margin-top: var(--padding);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#project-role {
  padding-top: 0px;
  margin-top: 0px;
}

.project-h3 {
    font-family: 'MyFont';
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 2px;
  font-style: italic;
  margin: 0;
  margin-bottom: 2px;
  margin-top: var(--padding);
  width: fit-content;
  font-weight:bolder;
}

.intro-text {
  font-family: 'MyFont';
  font-size: 28px;
  letter-spacing: -0.25px;
  margin-top: var(--padding);
}

.list-text {
  font-family: 'MyFont';
  font-size: 18px;
  letter-spacing: -0.25px;
  margin: 0;
}

.tag {
  font-family: 'MyFont';
  font-size: 14px;
  letter-spacing: -0.15px;
  font-weight: bolder;
  padding: 4px 8px 4px 8px;
  border-radius: 22px;
  width: fit-content;
  flex-basis: 10px;
  margin: 0;
  background-color: white;
  color: black;
  border: black dashed 1px;
    height: 25px;
}


.tag#title {
  background-color: white;
  color: black;
  padding: 2px 0px 2px 0px;
  font-size: 18px;
}
#tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;  
  row-gap: 8px;
  margin-bottom: 20px;}


 

/************* Hiding and Showing *************/


.page-content {
    display: none;
}
.page-content:target {
    display: block;
}
.page-content:not(:target) {
    display: none;
}


 @media (max-width: 500px) {
   main {
    display: flex;
    flex-direction: column;
  }
  .left-side {
    width:100vw;
    height: 100%;
    border-right: 0;
    border-bottom: solid 2px var(--primary-color);
  }
  .button-list {
    font-size: 10px;
    margin-bottom: var(--padding);
  }
  :root {
  --padding: 12px;
  }
  .project-title {
  padding-top: var(--padding);
  }
  }